<footer class="page-header inner">
  <div class="container animate-up">
    <a href="/" class="back">
      <img src="/images/back.svg" alt="" />
    </a>
    <span>© 2021 - JobsCalc</span>
  </div>
</footer>